*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo{
margin-right: 20px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}

a{
    color: #262626;
    text-decoration: none;
}

ul{
    list-style: none;
}


.container{
    width: 1400px;
    
  margin-left: 50px;
}
.main-nav{
    display: flex;
  
    height: 60px;
    padding:20px 0;
    font-size: 13px;
    margin-right: 20px;
}
.main-nav.logo{
    width: 110px;
    height: 10px;
}
.main-nav ul{
    display: flex;
}
.main-nav ul li{
    padding: 0 10px;
}
.main-nav ul li a{
    border-bottom: 2px;
}
.main-nav ul li a:hover{
    border-bottom: 2px solid black;
}

.main-nav ul.main-nav{
    flex: 1;
    margin-left:20px ;
}



.Head{
    margin: 0%;
}
.headimage{
height: 477px;

}
.headtext{
    width: 224px;
    height: 26px;
    position: absolute;
    margin: 0px 0px 20px;
}
.home-cards{
    display: flex;
    margin: 40px;
}
.home-cards div{
    display: flex;
    flex-direction: column;
    width: 305px;
    margin-left: 50px;
}
.blacklogo{
    /* margin-left: 250px; */
    padding-left: 80px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    
    
    
}
.u1{
    display: flex;
    color: blue;
    text-align: center;
    margin-right: 40px;

    
}
.img1{
    padding-left: 60px;
}
.u2{
    display: flex;
    margin-right: 40px;
    color: blue;
}
.u3{
    display: flex;
    margin-right: 80px;
    color: blue;
}
.u4{
    display: flex;
    margin-left: 40px;
    color: blue;
}


.textsurface{
    height: 69px;
    width: 311px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.textsurface2{
    height: 68px;
    width: 319px;
    margin-top: 20px;
}

.textsurface4{
    height: 70px;
    width: 319px;
    margin-top: 20px;
}
.textsurface3{
    height: 67;
    width: 308px;
    margin-top: 20px;
}
.fas fa-search{
    height: 18px;
    width: 17px;
}
.hai{
    position: absolute;
    top: 20%;
    height: 33px;
    width: 226px;
    margin-left: 10%;
    color: #000;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.parahead{
    position: absolute;
    top: 30%;
    height: 69px;
    width: 300px;
    margin-left: 10%;
}
.button{
    position: absolute;
    top: 45%;
    margin-left: 10%;
    height: 42px;
    width: 146px;
    background: #0067b8;
    color: #fff;
}
.home-cards1{
    display: flex;
   margin-top: 40px;
}
.homecardsddiv1{
    display: flex;
    flex-direction: column;
    width: 305px;
    margin-left: 50px;
}
.homecardsimg1{
    width: 305px;
}
.follow{
    position: absolute;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    margin-bottom: 20px;
    

    

}
.fb{

    height: 22px;
    width: 14px;
}
.twit{
    height: 22px;
    width: 14px;
}
.youtube{
    height: 22px;
    width: 14px;
}
.img{
    height: 9px;
    width: 12px;
}
.micro{
    padding-left:446px;
}
.drop-down{
    height: 9px;
    width: 12px;
}
.search{
    padding-left: 10px;
}
.searchkey{
    height: 9px;
    width: 12px;
}
.cart{
    padding-left: 10px;
}
.cart-icon{
    height: 9px;
    width: 12px;
}
.sign{
    padding-left: 20px;
}
.sign-in{
    height: 9px;
    width: 12px;
}
.footer{
   background-color: #f2f2f2;
   color: #616161;
   padding: 35px 0;
   font-size: 12px;
   margin-top: 30px;
   height: 387px;
   width: 100%;
   display: flex;
   
   

}
.footer-inner{
    max-width: 1100px;
    margin: 0 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
   
     
    
    
    
}
.ul1{
    
    height: 173px;
    width: 268px;
}

.ul{
    height: 171px;
    width: 91px;
    margin-right: 160px;
}

.h1{
    

    height: 33px;
    width: 280px;
    margin-left: 70px;
    margin-top: 10px;
    background-color: white;
    padding-left: 5%;
}
.paraedge{
   
    height: 43px;
    width: 351px;
    margin-left: 19%;
    margin-top: 30px;

}
.imagemicro{
    height:514px ;
    width: 1368px;
    margin-left: 73px;
   
   /* background-size: 1596px 600px; */
   background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-MSFT-hero-Edge:VP5-1596x600");
}
.imgnewdiv{
    margin-top: 50px;
    position: relative;
    margin-left: 5%;
    top: 120px;
    display: flex;
    flex-direction: column;
    width: 459px;
    height: 276px;
    background-color: white;
}
.button2{
   
    margin-left: 130px;
    margin-top: 50px;
    height: 41px;
    width: 140px;
    bottom: 2px;
    background-color: #0067b8;
    color: #fff;

}